
/* CSS For Dropdown Menu Start */
ul
{
  list-style:none;
  padding:0px;
  margin:0px
}

ul li
{
  display:inline;
  float:left;
}

ul li a
{
  color:#00ffff;
  background:#0000ff;
  margin-right:5px;
  font-weight:bold;
  font-size:12px;
  font-family:verdana;
  text-decoration:none;
  display:block;
  width:100px;
  height:25px;
  line-height:25px;
  text-align:center;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border: 1px solid #560E00;
}

ul li a:hover
{
  color:#ffff00;
  background:#00ff00;
  font-weight:bold;
  text-decoration:none;
  display:block;
  width:100px;
  text-align:center;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border: 1px solid #000000;
}

ul li.sublinks a
{
  color:#000000;
  background:#f6f6f6;
  border-bottom:1px solid #cccccc;
  font-weight:normal;
  text-decoration:none;
  display:block;
  width:100px;
  text-align:center;
  margin-top:2px;
}

ul li.sublinks a:hover
{
  color:#000000;
  background:#FFEFC6;
  font-weight:normal;
  text-decoration:none;
  display:block;
  width:100px;
  text-align:center;
}

ul li.sublinks
{
	display:none;
}

/* CSS For Dropdown Menu End */



#container
{
  margin:0px auto;
  width:1000px;
}

.clear
{
  clear:both;
}

.left
{
  float:left;
}

.right
{
  float:right;
}
